body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('japo.jpg');
    background-size: cover; /* Utilisez 'cover' pour agrandir l'image pour couvrir tout l'écran */
    background-position: center; /* Centrez l'image */
    background-attachment: fixed; /* Fixer l'image pour qu'elle ne se déplace pas lors du défilement */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
}

.header {
    color: #ffffff; /* Texte blanc */
    padding: 1em 0;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #000000,  
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000; /* Bordure noire */
}

.container {
    width: 90%;
    margin: 0 auto;
}

.about, .skills, .projects, .contact {
    background-color: rgba(255, 255, 255, 0.8); /* 0.8 est le niveau d'opacité, 0 est complètement transparent et 1 est complètement opaque */
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Coins arrondis avec un rayon de 15px */
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

h2, h3 {
    color: #333;
}

ul {
    list-style-type: katakana ;
    padding: 10;
}

ul li {
    margin: 0.5em 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.petale {
    position: fixed;
    top: 0;
    background: radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.5) 60%, rgba(255, 0, 0, 0) 70%);
    width: 15px;
    height: 25px;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
    transform-origin: center;
}

.petale:nth-child(odd) {
    background: radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.5) 60%, rgba(255, 0, 0, 0) 70%);
    animation-duration: calc(10s + (random() * 5s));
    animation-delay: calc( random() * 3s);
}
